emulator
tests/v0_1/test_v0_1
tests/v0_1/tmp/
tests/v0_2/test_v0_2
tests/v0_2/tmp/
tests/v0_3/test_v0_3
tests/v0_3/tmp/
tests/v0_4/test_v0_4
tests/v0_4/tmp/
tests/v0_5/test_v0_5
tests/v0_5/tmp/
tests/v0_6/test_v0_6
tests/v0_6/tmp/
tests/v0_7/test_v0_7
tests/v0_7/tmp/
tests/v0_8/test_v0_8
tests/v0_8/tmp/
tests/v0_9/test_v0_9
tests/v0_9/tmp/
*.o
*.bin
*.elf
*.macho
examples/v1_1/*.macho
examples/v1_2/mapping_inspection.txt
*.dSYM/
__pycache__/
tests/v1_0/tmp/
tests/v1_1/tmp/
tests/v1_1/test_v1_1
tests/v1_2/tmp/
examples/v1_2/*.bin
tests/v1_2/test_v1_2
